/* 1.0 */
.main-text {
    color: red;
}

#text-in-p {
    color: blue;
}

#bold-text-in-p {
    color: pink;
}

div p b, div i {
    color: green;
}

/* div, .name-class, #id, div p {
    color: aqua;
} */
